# Kakao Local API
VITE_KAKAO_GEO_URL=https://dapi.kakao.com/v2/local/search/address.json
VITE_KAKAO_API_KEY=your_kakao_rest_api_key

# OpenWeather API
VITE_OPENWEATHER_API_KEY=your_openweather_api_key
VITE_OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5/weather
VITE_OPENWEATHER_FORECAST_URL=https://api.openweathermap.org/data/2.5/forecast
VITE_OPENWEATHER_AIR_POLLUTION_URL=https://api.openweathermap.org/data/2.5/air_pollution
